<div class="jumbotron">
    <h1 class="display-4">Notes App NodeJS and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iste ipsa iure odio, voluptatibus quasi reiciendis
            nemo consequatur quas nobis quam dolorem itaque error libero. Dolore, facilis facere. Libero, aut.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>